@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ccc;
  margin: 3rem;
  font-size: 20px;
}

/* https://v1.tailwindcss.com/components/buttons */
.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}